<ng-container *ngIf="!logged">
  <app-login (logged)="takeProfile()"></app-login>
</ng-container>
<ng-container *ngIf="logged">
  <mat-card>
    <mat-form-field appearance="outline">
      <mat-label>Change Your User Name</mat-label>
      <input matInput type="text" required placeholder="Email"[(ngModel)]="userName">
      <mat-hint>Name</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Change Your Email</mat-label>
      <input matInput type="email" required placeholder="email"[(ngModel)]="email" >
      <mat-hint>email</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Change Your Password</mat-label>
      <input matInput type="password" required placeholder="Password"[(ngModel)]="password" >
      <mat-hint>Min 8 chart</mat-hint>
    </mat-form-field>
    <ng-container *ngIf="password!==''"></ng-container>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Your Password</mat-label>
      <input matInput type="password" required placeholder="Password"[(ngModel)]="confirmPass" >
      <mat-hint>Min 8 chart</mat-hint>
    </mat-form-field>
    <button mat-button color="primary" [disabled]="!valid" (click)="updateUser()">Update</button>
  </mat-card>
  <mat-card>
    <ng-container *ngFor="let item of productList">
      <P>Description{{item.description}}</P>
      <P>Product Name{{item.name}}</P>
      <P>Price{{item.price}}€</P>
    </ng-container>
  </mat-card>
</ng-container>
